<form action="/" method="post">
  <label for="name">Your Name:</label>
  <input id="name" type="text" name="abc">
  <input type='hidden' name='test' value="test"></div>
  <input type="submit" name="New List">
</form>
